.cabeçalho {
    background-color:#6959CD;
    color: black;
    display: flex
    justify-content: space-around;
    align-items: padding 24px 0;
}
.cabeçalho-imagem{
    widht: 20%
}
.cabeçalho-lista-item{
display:inline-block;
font-size: 36px;
margin:0 16px
}
